<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
</head>
<body>

<h1>AniPlus</h1>
<form action="/recommend" method="post">
    <label>Action: </label>
    <input type="text" name="action">
    <br>
    <label>Sport: </label>
    <input type="text" name="sport">
    <br>
    <label>Romance: </label>
    <input type="text" name="romance">
    <br>
    <label>Adventure: </label>
    <input type="text" name="adventure">
    <br>
    <button type="submit" name="submit">Submit</button>
    <button type="reset" name="reset">Clear</button>
</form>
</body>
</html>